@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

nav {
	font-family: 'Literata', serif;
}

.ap-animacao:hover {
	transform: scale(1.03);
	transition-duration: 1s;
}

.centro-praia {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel-caption {
	bottom: 110px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	background-color: rgba(27, 27, 27, 0.336);
}

.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

@media only screen and (max-width: 760px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
		
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}

@media only screen and (max-width: 760px) {
	.centro-praia {
		width: 100%;
	}
}

@media only screen and (min-width: 760px) {
	.local-oferece {
		width: 30%;
	}
}

.row row-cols-1 row-cols-md-2 g-4 {
	margin-top: 50px;
}

.center-as {
	margin-top: 25px;
}


.info-text {
	text-align: center;
	font-weight: bold;
	font-family: 'Varela Round', sans-serif;
	color: #242424;
	margin-top: 15px;
	margin-bottom: 15px;
}

.mapa-praia {
	padding-top: 20px;
}

nav {
	background-color: rgba(0, 0, 0, 0.253);
}